{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle %}Lista rejestracji | {{ parent() }}{% endblock %}
{% block contentConteiner %}
    <article class="col-md-8">
        <h1>Lista rejstracji</h1>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>ID</th>
                <th>Imie i Nazwisko</th>
                <th>Kraj</th>
                <th>Kurs</th>
                <th>Akcje</th>
            </thead>
            <tbody>
            {% for entry in rows %}
                <tr>
                    {% if is_granted('ROLE_USER') %}
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.country }}</td>
                    <td>{{ entry.course }}</td>
                    {%endif%}
                        {% if btns == true %}
                        <a class="btn btn-sm btn-info" href="{{  path('edu_blog_admin_details',{'id': entry.id}) }}}">Zobacz szczegóły</a>
                        <a class="btn btn-sm btn-danger" href="{{  path('edu_blog_admin_delete',{'id': entry.id}) }}}">Usuń rekord</a>
                        {% else %}
                            Nie posiadasz żadnych akcji
                        {% endif %}
                    </td>
                {% else %}
                    <td colspan="5">brak rejestracji</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr/>
        <h4>Zalogowano jako: {{ app.user.username}} </h4>
        <h6>Posiadane Role: {{ app.user.roles|join(', ')}} </h6>
    </article>
{% endblock %}
