{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig" %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    {% set attr = attr | merge({'class':(attr.class|default("form-horizontal"))|trim }) %}
    <form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%  form_theme form _self %}

{% block pageTitle %}Szkolenia Giełdowe | {{ parent() }}{% endblock %}
{% block contentConteiner %}
    <article class="col-md-8">
        <h1>Rejestracja</h1>
        {{ form(form) }}
    </article>
{% endblock %}
